.navigation-dark-container {
    background-color: rgba(242, 229, 217, 0.9);
    width: 100%;
    z-index: 3;
    position: absolute;
    top: 0;
    border: none;
}

.menu-dark-icon {
    display: none;
}

.nav-dark-list {
    height: 5rem;
    justify-content: space-between;
    align-items: center;
}

.nav-dark-left li a{
    color: #3B342C;
}

.nav-dark-left li:first-child {
    margin-right: 5rem;
}

.nav-dark-right li:first-child {
    margin-right: 1.8rem;
}

.nav-dark-icon a {
    font-size: 2rem;
    color: #3B342C;
}

@media screen and (max-width: 460px) {
    .navigation-dark-container {
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    .menu-dark-icon {
        display: block;
        color:  #3B342C;
        font-size: 2.5rem;
        text-align: right;
        margin-top: 1rem;
    }

    .nav-dark-list {
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        top: -500px;
        left: 0;
        width: 100vw;
        height: 0;
        gap: 1rem;
        font-size: 1.6rem;
        background-color:#3B342C;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    .nav-dark-left {
        flex-direction: column;
        gap: 1rem;
    }

    .nav-dark-left li a{
        color: #fff;
    }

    .nav-dark-right {
        gap: .6rem;
    }

    .nav-dark-icon a {
        color: #fff;
    }

    .navigation-dark-container.active-dark {
        background-color: #3B342C;
    }

    .menu-dark-icon.active-dark {
        color: #fff;
    }

    .nav-dark-list.active-dark {
        top: 4rem;
        height: 100vh;
    }

    .nav-dark-left li:first-child,
    .nav-dark-right li:first-child {
        margin-right: 0;
    }
    
}